asgiref==3.4.1
bcrypt==3.2.0
cffi==1.14.6
click==8.0.1
colorama==0.4.4
fastapi==0.67.0
greenlet==1.1.0
h11==0.12.0
importlib-metadata==4.6.1
pycparser==2.20
pydantic==1.8.2
PyJWT==2.1.0
pyodbc==4.0.31
python-dotenv==0.18.0
six==1.16.0
SQLAlchemy==1.4.21
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.14.0
zipp==3.5.0
